.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.labelWrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: var(--main-text);
}

.input {
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  padding: 16px;
  width: 311px;
  height: 50px;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.6);
  outline: transparent;
}

.errorInput {
  border-color: red;
}

.errorText {
  color: red;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
}

.submitBtn {
  border-radius: 30px;
  padding: 16px 126px;
  width: 311px;
  height: 50px;
  background-color: var(--accent-water);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
  border: none;
}

.submitBtn:hover,
.submitBtn:focus {
  background-color: var(--accent-hover-water);
}

.textWrap {
  text-align: center;
}
.text {
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: var(--main-text);
}

@media screen and (min-width: 768px) {
  .form {
    margin-top: 40px;
  }
  .inputsContainer {
    gap: 20px;
  }

  .label {
    font-size: 16px;
    line-height: 150%;
  }

  .input {
    width: 436px;
    height: 56px;
    font-size: 16px;
    line-height: 150%;
  }

  .errorText {
    font-size: 16px;
    line-height: 150%;
  }

  .submitBtn {
    padding: 18px;
    width: 436px;
    height: 60px;
    font-size: 16px;
    line-height: 150%;
  }
  .text {
    margin-top: 60px;
    font-size: 16px;
    line-height: 150%;
  }
}
